.cell {
  padding: 0 20px;
  height: 300px;
  border: 1px solid black;
}

.header {
  padding: 15px 0;
  vertical-align: top;
}


.logo {
  font-size: 15px;
  vertical-align: top;
  padding: 0;
  width: 160px;
  float: left;
}

.logo img {
  height: 50px;
  display: block;
  float: left;
}

.logo span {
  display: block;
  float: left;
}

.logo span {
  margin-right: 5px;
}

.reestr {
  font-size: 11px;
  color: gray;
  padding: 0 0 0 5px;
  margin: 5px 0 0 5px;
  border-left: 1px solid gray;
  height: 40px;
  width: 100px;
  float: left;
}

.contact {
  clear: both;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.telephone {
  float: left;
  margin-right: 10px;
  font-size: 20px;
}

.header .btn {
  float: left;
}

.btn-group-sm > .btn,
.btn-sm {
  border-radius: 15px;
}


.underline {
  border-bottom: 2px solid #36aaec;
}

/*---------------------------------*/

.first {
  background-image: url(../img/head.jpg);
  background-size: cover;
  min-height: 700px;

  font-size: 20px;
  color: white;
}

.first .container {
  padding: 50px 15px;
}

.first h1 {
  margin-bottom: 30px;
}

.first ul {
  list-style: none;
}

.first li {

  margin: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
  position: relative;
}

.first li::after {
  content: '';
  height: .6em;
  width: .6em;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .55em;
  left: 0;
  border: 3px solid #36aaec;
}

input[type="text"],
input[type="tel"] {
  background: none;
  border: none;
  border-bottom: 2px solid #36aaec;
  border-radius: 0;
  max-width: 260px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: white;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: white;
}




.first .btn {
  margin-top: 20px;
}


/*-----------------*/

.service .title {
  text-align: center;
}

.service .col-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.service .icon {
  /*  float:left;*/
  width: 70px;
  margin: 0 auto;
}

.service .icon img {
  width: 70px;
}

.service .info .btn {
  background: none;
  border: none;
  color: gray;
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
}

.info {
  /*  float: left;*/
  /*  margin-left: 15px;*/
  margin: 0 auto;
}

.dropdown {
  display: block;
  padding: 0;
}

.service .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.service .icon {
  width: 70px;
}

.service .col-6 {
  text-align: center;
}

.btn:focus {
  box-shadow: none;
}

input {
  outline: none;
  font-size: 13px;
  width: 70%;
  margin: 10px 0;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.col-12 h1 {
  font-size: 35px;
}

.col-12 h4 {
  font-size: 20px;
}

.first .col-12 {
  font-size: 15px;
}

.first .container .consult {
  float: right !important;
  
}

@media (min-width: 470px) {
  .service .icon {
    float: left;
  }


  .info {
    float: left;
    margin-left: 15px;
  }

  .service .col-6 {
    text-align: left;
  }


}

@media (min-width: 544px) {
  .contact {
    clear: none;
    margin-top: 0;
    float: right;
  }

}
